{% extends "meta.html" %}


{% block body %}

<div class="container my-4">

    <h1 class="text-center">Upload Image</h1>
</div>

<div class="container my-4">
    <form id="form" action="/" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3 my-4">
            <label class="input-group-text" for="image">Upload</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/jpeg, image/png" required>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary my-4"  id="submit">submit</button>
        </div>
    </form>
</div>

{% endblock body %}


